@import "../base/base.scss";

@import "absolutelayout/absolutelayout";
@import "accordion/accordion";
@import "button/button";
@import "caption/caption";
@import "colorpicker/colorpicker";
@import "common/common";
@import "datefield/datefield";
@import "inlinedatefield/inlinedatefield";
@import "formlayout/formlayout";
@import "gridlayout/gridlayout";
@import "label/label";
@import "link/link";
@import "menubar/menubar";
@import "notification/notification";
@import "orderedlayout/orderedlayout";
@import "panel/panel";
@import "popupview/popupview";
@import "progressindicator/progressindicator";
@import "select/select";
@import "shadow/shadow";
@import "slider/slider";
@import "splitpanel/splitpanel";
@import "table/table";
@import "tabsheet/tabsheet";
@import "textfield/textfield";
@import "tree/tree";
@import "window/window";

.v-generated-body {
	background: #e9eced;
}

$font-size: 13px;
$line-height: 18px;

@mixin runo {
	// TODO move?
	@include base;
	// TODO each
	@include runo-absolutelayout;
	@include runo-accordion;
	@include runo-button;
	@include runo-caption;
	@include runo-colorpicker;
	
	@include runo-common;
	
	@include runo-datefield;
	@include runo-inline-datefield;
	@include runo-formlayout;
	@include runo-gridlayout;
	@include runo-label;
	@include runo-link;
	@include runo-menubar;
	@include runo-notification;
	@include runo-orderedlayout;
	@include runo-panel;
	@include runo-popupview;
	
	@include runo-progressindicator(v-progressbar);
	/* For legacy ProgressIndicator component */
	@include runo-progressindicator(v-progressindicator);
	
	@include runo-select;
	@include runo-shadow;
	@include runo-slider;
	@include runo-splitpanel;
	@include runo-table;
	@include runo-tabsheet;
	@include runo-textfield;
	@include runo-tree;
	@include runo-window;
}
